VITE_RPC_URL=http://127.0.0.1:8545
VITE_WALLETCONNECT_ID="wc_demo"
VITE_CONTRACT_ADDRESS="0xYourContract"
VITE_VERIFIER_ADDRESS="0xYourVerifier"
VITE_ZKEY_URL="/zk/certify.zkey"
VITE_WASM_URL="/zk/certify.wasm"
VITE_PINATA_JWT="YOUR_PINATA_JWT"
VITE_GATEWAY_URL="your-gateway.mypinata.cloud"
